
main .hero-main-container {
    padding: 0;
}

main .hero-main-wrapper {
    max-width: unset;
}

.news-wrapper {
    height: 720px;
    overflow: hidden;
}

.news-wrapper img {
    width: 100%;
    object-fit: contain;
}

.news-wrapper .carousel-buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    /*text-align: center;
    margin-top: -28px;
    position: absolute;
    display: flex;
    right: 0;
    left: 0;
    justify-content: center;
    z-index: 2;*/
}

.news-wrapper .carousel-buttons button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: green; /*#fff;*/
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.news-wrapper .carousel-buttons button.selected {
    background: #cc0000;
}

.news-wrapper h2,
.news-wrapper h3,
.news-wrapper .headline-3,
.news-wrapper h4,
.news-wrapper h5 {
    color: #fff; 
}

.news-wrapper {
    /*position: absolute;
    top: 0;
    width: 100%;
    text-align: center;*/
}

.news-info-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.news-info {
    color: #fff;
    text-align: left;

    display: inline-block;
    background: #990000;
    background: rgba(153, 0, 0, 0.9);

    padding: 25px;
    float: left;
    border-right: 3px solid #7e0000;

    position: absolute;
    bottom: 10px;
}

.news-info span {
    font-family: "Roboto Slab", georgia, "serif";
    font-size: 15px;
    font-size: 0.9375rem;
}

.news-info h2 {
    font-family: "TradeGothicLTPro-BdCn20", "trebuchet ms", arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: normal;
}

.news-info h4 {
    font-family: "TradeGothicLTPro-BdCn20", "trebuchet ms", arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: normal;
}
